
nav{
    position: fixed;
    top: 0; 
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--panel-color);
    padding: 10px 14px;
    border-right: 2px solid var(--border-color);
    transition: var(--tran-05);
    background: transparent;

}

nav.c-panel{
    width: 77px;
    border-radius: 0 15px 15px 0;
}

nav .prof-admin{
    display: flex;
    align-items: center;
    color: var(--text-color);
}

nav .img-admin{
    display: flex;
    justify-content: space-between;
    min-width: 55px;
}

nav .img-admin img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

nav .prof-admin .admin-name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 15px;
    transition: var(--tran-05);

}

nav.c-panel .admin-name{ 
    opacity: 0;
    pointer-events: none;
}

nav .sidebar-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.sidebar-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    transition: var(--tran-08);
    margin-top: 7px;
}


.sidebar-items li a i{
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
    font-size: 22px;
}

.sidebar-items li a .nav-text{
    font-size: 18px;
    font-weight: 500;
    color: var(--black-light-color);
    transition: var(--tran-08);
}

nav.c-panel li a .nav-text{
    opacity: 0;
    pointer-events: none;
}

.sidebar-links li{
    transition: var(--tran-05);
}

.sidebar-links li a:hover i,
.sidebar-links li a:hover span{
    color: #EEE!important;
}
.sidebar-links li a:hover {
    background: var(--color-main);
    border-radius: 7px;
    padding: 1.4px;
}

.sidebar-items .log-out{
    padding-top: 10px;
    border-top: 2px solid var(--border-color);
}

.sidebar-items  .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.sidebar-items .toggle-mode{
    height: 50px;
    min-width: 45px;
    position: absolute;
    right: 14px;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer; 
    
}

.toggle-mode .switch-1{
    position: relative;
    display: inline-block;
    height: 24px;
    width: 40px;
    border-radius: 15px;
    background: var(--toggle-color);

}

.switch-1::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background: var(--panel-color);
    left: 5px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    background: var(--panel-color);
    transition: var(--tran-03);
}

body.dark .switch-1::before{
    left: 20px;
}