@import url(tools_box.css);
@import url(side_bar.css);
@import url(dashboard_sec.css);
@import url(product_admin.css);
@import url(activity_sec_index.css);
@import url(graph-sec.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    
}

:root {
    --bacdrob-color: #30303049;
    --primary-color: #0e4bf1;
    --color-main: #396aff;
    --color-2-main: #396aff;
    --main-accent: #e9eefd;
    --panel-color: #fff;
    --panel2-color: #fff;
    --panel3-color: #ffffff;
    --panel4-color: #ffffff;
    --main-text: #4b5876;
    --text-color: #404040;
    --text2-color: #282828;
    --text3-color: #554cd1;
    --text4-color: #5e5e5e;
    --text5-color: #f7f7f7;
    --black-light-color: #686767;
    --black-light-color-2: #686767;
    --table-color: #e4e4e4;
    --border-color: #a8a8a8;
    --toggle-color: #ddd;
    --box1-color: #4da3ff;
    --box2-color: #ffe6ac;
    --box3-color: #9278ab;
    --box4-color: #41b753;
    --title-icon-color: #fff;
    --btn-color: #ababab;
    --owner-color: #1a4b64;
    --admin-color: #EF6262;
    --admin-2-color: #c72e2e;
    --client-color: #d2802d;
    --mentor-color: #3d656c;

    --tran-01: all .1s ease;
    --tran-02: all .2s ease;
    --tran-03: all .3s ease;
    --tran-05: all .5s ease;
    --tran-08: all .7s ease;

    --shadow: 0 0 16px rgba(17,17,26,.3);
}

body {
    height: 100vh;
    background: var(--body-color) !important;
    display: flex;
    position: relative;
}

body.dark {
    --bacdrob-color: #5e5e5e4a;
    --primary-color: #3a3b3c;
    --color-main: #5f6061;
    --color-2-main: #464646;
    --panel-color: #242526;
    --panel2-color: #3a3b3c;
    --panel3-color: #5e5e5e;
    --panel4-color: #666666;
    --text-color: #fff;
    --text2-color: #e9e9e9;
    --text3-color: #e9e9e9;
    --text4-color: #ededed;
    --text5-color: #f7f7f7;
    --black-light-color: #ccc;
    --black-light-color-2: #888888;
    --border-color: #4d4c4c;
    --table-color: #3a3b3c;
    --toggle-color: #fff;
    --box1-color: #3a3b3c;
    --box2-color: #3a3b3c;
    --box3-color: #3a3b3c; 
    --box4-color: #3a3b3c;
    --title-icon-color: #fff;
    --btn-color: #3a3b3c;

    --shadow: 0 0 13px rgba(96,96,96,.4)
}



body {
    min-height: 100vh;
    background: var(--panel-color) !important;
}

/* ======= Mediaqueris start ======== */

@media (max-width: 1000px) {
    nav{
        width: 77px;
    }

    nav.c-panel{
        width: 250px;
    }

    nav .admin-name{
         opacity: 0;
         pointer-events: none;
    }

    nav.c-panel .admin-name{
         opacity: 1;
         pointer-events: auto;
    }

    nav li a .nav-text{
        opacity: 0;
        pointer-events: none;
    }

    nav.c-panel li a .nav-text{
        opacity: 1;
        pointer-events: auto;
    }

    nav ~ .dashboard {
        width: calc(100% - 77px);
        left: 77px;
    }

    nav.c-panel ~ .dashboard {
        width: calc(100% - 250px);
        left: 250px;
    }

    nav ~ .dashboard .top{
        width: calc(100% - 102px);
        left: 90px;
    }

    nav.c-panel ~ .dashboard .top{
        width: calc(100% - 305px);
        left: 280px;
    }

    .board{
        overflow: scroll;
    }
    .graf-board{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .graph-content, .graph-content-2{
        width: 100%!important;
        margin-top: 8px;
    }
}

@media (max-width: 920px) {
    
    .graf-board{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .graph-content, .graph-content-2{
        width: 100%!important;
        margin-top: 8px;
    }

}

@media (max-width: 820px) {
    
     .dash-content .boxes .box{
        width: calc(100% / 4 - 15px);
        margin-top: 15px;
     }

}

@media (max-width: 780px) {
    
    .dash-content .boxes{
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: var(--tran-05);
     }

     .dash-content .boxes .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        width: calc(100% / 2 - 15px);
        background-color: var(--box1-color);
        padding: 15px 20px;
     }

     .graph-content, .graph-content-2{
        width: 97%!important;
        margin-top: 8px;
    }
    
}

@media (max-width: 580px) {
    
    .dash-content .boxes{
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: var(--tran-05);
     }

     .dash-content .boxes .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        width: 100%;
        background-color: var(--box1-color);
        padding: 15px 20px;
     }

     nav{
        width: 77px;
    }

    nav.c-panel{
        width: 77px;
    }

    nav .admin-name{
         opacity: 0;
         pointer-events: none;
    }

    nav.c-panel .admin-name{
        opacity: 0;
        pointer-events: none;
    }

    nav li a .nav-text{
        opacity: 0;
        pointer-events: none;
    }

    nav.c-panel li a .nav-text{
        opacity: 0;
        pointer-events: none;
    }

    nav ~ .dashboard {
        width: calc(100% - 77px);
        left: 77px;
    }

    nav.c-panel ~ .dashboard {
        width: calc(100% - 77px);
        left: 77px;
    }

    nav ~ .dashboard .top{
        width: calc(100% - 77px);
        left: 77px;
    }

    nav.c-panel ~ .dashboard .top{
        width: calc(100% - 102px);
        left: 90px;
    }

}

/* ======= Mediaqueris end ======== */

